.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
}
.slide-right-enter {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

@keyframes leftDoors {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(135deg);
    }
}
@keyframes rightDoors {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(-135deg);
    }
}
@keyframes shelterOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
